*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}



.homepagebg{
    background-image: url('../assets/images/image.jpg1');
     background-repeat: no-repeat;
     background-size: cover;
}

a{
    text-decoration: none;padding-right: 50px; color: azure;font-size: 25px;
}


.chukkun{
    background-image: url('../assets/images/image.jpg2');
    background-repeat: no-repeat;
    background-size: cover;
}
.navigation{
    float: right; padding-right: 50px; padding-top: 10px;
}

h1{
    color: azure;padding-top: 250px; padding-left: 300px; font-size: 60px;
}
.color{
    color: aqua;
}

p{
    color: azure; font-weight: bold;font-size:30px;text-align: center;padding-top: 160px;
    
}
ul{
    text-align: center;color: azure;padding-top: 20%; list-style: none;
}
.nav{
    float: right; padding-right: 50px; padding-top: 35px;
    
}

.myself{
  font-size:xx-large ;  
line-height: 100px;
text-align:center;
}
main{
  
}
.myself1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height: 90vh;
    width: 100vw;
    line-height: 3;
    font-size: xx-large;
}





