
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
    
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f4f8;
    color: #333;
    line-height: 1.6;

}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
   
}

header {
    background-color:#0f916e;
    color: white;
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.8rem;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 10px;
    transition: color 0.3s ease;
    
}

nav a:hover {
    color: #ece954;
}


#home {
    background-image: url(./assets/images/img-2.avif);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#home .home-content {
    color: white;
    animation: fadeIn 2s ease-in-out;
    
}

#home h1 {
    font-size: 3.5rem;
}

#home p {
    font-size: 1.5rem;
    margin-top: 20px;
}


#about {
    padding: 80px 0;
    background-image: url(./assets/images/img-5.avif);
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 100vh;

}

#about h2 {
    color: #ccc;
    margin-top: 50px;
    font-size: 2.5rem;
}

.about-content {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    gap: 40px;
    align-items: center;
    margin-top: 170px;
    animation: slideIn 1s ease-in-out;
}

.about-content img {
    width: 390px;
    border-radius: 10px;
   

}

.about-content  p {
    color: #ccc;
    font-size: 1.2rem;
    font-weight: bolder;
    margin-right:350px ;
}


#skills {
    padding: 80px 0;
    background-image: url(./assets/images/img-4.avif);
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 100vh;
}

#skills h2 {
    color: #ccc;
    font-size: 2.5rem;
    margin-bottom: 50px;
    margin-top:50PX ;
    margin-left: 400px;
}

.skills-grid {
    display: flex;
    gap: 120px;
    justify-content: center;
    margin-left: 400px;
    margin-bottom: 500px;
    
}

.skill-item {
    text-align: center;
    animation: zoomIn 1s ease-in-out;
    margin-top: 200px;
}

.skill-item i {
    font-size: 10rem;
    color:#a8e115;
    transition: transform 0.3s ease;
}

.skill-item h3 {
    color: #ccc;
    font-size: 1.5rem;
    margin-top: 20px;
    
}

.skill-item:hover i {
    transform: scale(1.2);
}


#contact {
    padding: 80px 0;
    background-image: url(./assets/images/img-3.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 100vh;
}

#contact h2 {
    margin-top: 50px;
    color: #ccc;
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.contact-info p {
    color: #ccc;
    font-size: 1.2rem;
    margin: 15px 0;
}

.contact-info a {
    color: #0073e6;
    text-decoration: none;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 600px;
    margin: 40px auto;
}

input, textarea {
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

textarea {
    height: 150px;
    resize: none;
}

button {
    padding: 15px;
    background-color: #1750c2;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #00aaff;
}

footer {
    background-color: #002b6b;
    color: white;
    padding: 20px;
    text-align: center;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(-50px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0.8)
    }
}